body {
    background-color: rgb(164, 225, 187);
    height: 100vh;
}

.title {
    text-align: center;
}

.button {
    margin-left: 42rem;
}

.body2 {
    background-color: rgb(255, 205, 242);
}

.paid-content {
    display: none;
}

.display-n {
    display: none;
}

